@charset "utf-8";

/* Biến toàn bộ table thành gốc tọa độ để ảnh bám theo */
.table-container {
    position: relative; 
    width: 1000px;
}

/* --- Cố định vị trí các ảnh theo Table --- */
.anh1 {
    position: absolute;
    /* Tính từ mép trái của table sang */
    left: 550px;
    /* Tính từ mép trên cùng của table xuống */
    top: 560px;
    z-index: 1;
}

.anh2 {
    position: absolute;
    left: 790px;
    top: 480px;
    z-index: 2;
}

.anh3 {
    position: absolute;
    left: 865px;
    top: 158px;
    z-index: 3;
}

/* --- Xử lý phần nền gạch ngang và hàng chấm --- */
.gachngang {
    background-image: url("IMAGES/socngang.gif");
    background-repeat: repeat-x;
}

.cham {
    background-image: url("IMAGES/haicham.png"); 
    background-repeat: repeat-x;
    background-position: left center;
}
